@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Work Sans", sans-serif;
  --dark-1: 0, 0%, 7%;
  --dark-2: 0, 0%, 26%;
  --dark-3: 0, 0%, 45%;
  --dark-4: 0, 0%, 63%;
  --dark-5: 0, 0%, 82%;
  --dark-6: 0, 0%, 91%;
  --dark-7: 0, 0%, 95%;
  --white: 0, 0%, 100%;
  --primary: 32, 100%, 53%;
}

.fluid {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p {
  color: hsl(var(--dark-3));
  line-height: 26px;
}

.btn {
  padding: clamp(8px, calc(1.5vw + 2px), 20px) clamp(16px, calc(1vw + 12px), 24px);
  font-size: clamp(16px, calc(0.5vw + 14px), 20px);
  font-weight: 600;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background-color: hsl(var(--primary));
  color: hsl(var(--white));
}

.btn-secondary {
  color: hsl(var(--dark-1));
  background-color: transparent;
  border: 1px solid hsl(var(--primary));
}

.fluid {
  max-width: 100%;
}

.container {
  width: clamp(320px, 80vw, 1440px);
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
  .container {
    width: max(320px, 90%);
  }
}

section {
  margin: clamp(64px, calc(4.57vw + 45.71px), 128px) 0;
}

/* header section */
header {
  padding: 3rem 0;
  background-color: hsla(var(--primary), 0.1);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .brands {
  font-size: 2.75rem;
  font-weight: 700;
  cursor: pointer;
}

header .nav-links {
  list-style-type: none;
  display: flex;
  gap: clamp(24px, calc(6.41vw - 12.82px), 64px);
  font-size: 1.125rem;
  text-transform: capitalize;
  color: hsl(var(--dark-2));
}

header .banner {
  padding-top: 6rem;
}

header .content {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 3rem;
}

header .content h1 {
  font-size: clamp(40px, calc(3vw + 28px), 64px);
}

header .content p {
  margin: 2rem 0;
}

@media screen and (max-width: 1200px) {
  header .brands {
    font-size: clamp(1.5rem, calc(2vw + 1rem), 2.5rem);
  }

  header .banner {
    padding-top: clamp(32px, calc(8vw + 0px), 96px);
  }
}

@media screen and (max-width: 992px) {
  header .content p {
    margin: 1rem 0;
  }
}

@media screen and (max-width: 768px) {
  header nav {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

/* teams section */
#teams .container {
  padding: 0 clamp(16px, calc(4.23vw - 0.92px), 60px);
  display: flex;
  align-items: center;
  gap: clamp(16px, calc(6.73vw - 35.85px), 72px);
}

#teams .images {
  width: 50%;
  min-width: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: clamp(32px, calc(1.33vw + 26.66px), 48px);
  flex-shrink: 0;
}

#teams .content h2 {
  font-size: clamp(32px, calc(1.33vw + 26.66px), 48px);
  font-weight: 500;
  color: hsl(var(--dark-3));
}

#teams .content h2 span:first-child {
  font-weight: 700;
  color: hsl(var(--dark-1));
}

#teams .content h2 span:last-child {
  font-weight: 700;
  color: hsl(var(--primary));
}

#teams .content p {
  margin: clamp(16px, calc(1.35vw + 10.59px), 24px) 0 clamp(24px, calc(1.35vw + 18.59px), 32px);
}

@media screen and (max-width: 992px) {
  #teams .container {
    flex-direction: column-reverse;
    text-align: center;
    gap: 1rem;
  }

  #teams .images {
    margin-top: clamp(16px, calc(2.7vw + 5.18px), 32px);
    min-width: 100%;
  }
}

/* features section */
#features .container {
  display: flex;
  justify-content: space-between;
}

#features .content {
  width: 45%;
}

#features .content h2 {
  font-size: clamp(32px, calc(1.33vw + 26.66px), 48px);
  border-left: 5px solid hsl(var(--primary));
  padding-left: clamp(12px, calc(1vw + 8px), 20px);
  line-height: 1.2;
}

#features .content > p {
  margin: clamp(16px, calc(1.35vw + 10.59px), 24px) 0 clamp(24px, calc(1.35vw + 18.59px), 32px);
}

#features .features-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: clamp(16px, calc(1vw + 12px), 24px);
}

#features .features-list li {
  padding: clamp(16px, calc(2vw + 8px), 32px);
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

#features .features-list h3 {
  font-weight: 600;
  font-size: 20px;
}

#features .features-list p {
  margin-top: 10px;
}

#features .image {
  position: relative;
  flex-grow: 1;
  align-self: stretch;
}

#features .bg {
  background: url("./images/architect.png") no-repeat center;
  background-size: cover;
  height: 95%;
  width: 90%;
  margin-left: auto;
}

#features .experience {
  position: absolute;
  bottom: 0;
  left: 5%;
  padding: clamp(20px, calc(3.33vw - 20px), 40px);
  background-color: hsl(var(--primary));
  color: hsl(var(--white));
  font-size: clamp(24px, calc(2.66vw - 8px), 40px);
  font-weight: 500;
  text-align: center;
  border-radius: 8px;
}

#features .experience span {
  font-size: clamp(40px, calc(4vw - 8px), 64px);
  font-weight: 700;
}

@media screen and (max-width: 992px) {
  #features .container {
    flex-direction: column;
    gap: 3rem;
  }

  #features .content {
    width: 100%;
  }

  #features .features-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #features .image {
    aspect-ratio: 1/1;
  }

  #features .bg {
    height: 100%;
    width: 100%;
    background-position: center;
  }
}

@media screen and (max-width: 576px) {
  #features .features-list {
    grid-template-columns: 1fr;
  }
}

/* statisitcs section */
#statistics h2 {
  text-align: center;
  font-size: clamp(32px, calc(1.33vw + 26.66px), 48px);
}

#statistics .container > p {
  text-align: center;
  max-width: 800px;
  margin: 1.25rem auto 2rem auto;
}

#statistics .facts-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: clamp(32px, calc(5.33vw - 32px), 64px);
}

#statistics .facts-list li {
  border: 1px solid hsl(var(--primary));
  border-radius: 8px;
  padding: clamp(24px, calc(1.71vw + 17.14px), 48px) clamp(20px, calc(1.42vw + 14.28px), 40px);
  text-align: center;
}

#statistics .facts-list img {
  width: 2.75rem;
  height: 2.75rem;
}

#statistics .facts-list p:nth-child(2) {
  margin: 1rem 0 0.75rem;
  font-size: clamp(32px, calc(0.85vw + 28.57px), 44px);
  color: hsl(var(--dark-2));
  font-weight: 600;
}

#statistics .facts-list p:last-child {
  font-size: clamp(16px, calc(0.28vw + 14.85px), 20px);
  color: hsl(var(--dark-3));
  font-weight: 600;
}

@media screen and (max-width: 992px) {
  #statistics .facts-list {
    grid-template-columns: 1fr 1fr;
  }
}

/* sponsors section */
#sponsors h2 {
  text-align: center;
  font-size: clamp(32px, calc(1.33vw + 26.66px), 48px);
}

#sponsors .container > p {
  text-align: center;
  max-width: 800px;
  margin: 1.25rem auto 2rem auto;
}

#sponsors .sponsors-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  row-gap: 2rem;
  flex-wrap: wrap;
}

#sponsors .sponsors-list li {
  width: max(200px, 20%);
  text-align: center;
  filter: saturate(0);
}

/* footer */
footer.container {
  margin-bottom: 5rem;
  padding: clamp(24px, calc(2vw + 16px), 40px) 0;
  text-align: center;
  background-color: hsla(var(--primary), 0.1);
  color: hsl(var(--dark-2));
  font-size: clamp(16px, calc(0.5vw + 14px), 20px);
}
